<!DOCTYPE html>
<html>
<head>
    <title></title>
    <title>Data Categories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <h2>Replace with Intel Header</h2>
</header>
<body ng-app="reportApp" ng-controller="reportCtrl">
<div class="main">
    
    <div>
        <form>
        <h2>Select Report:</h2>
        <select id="selectReport" ng-model="name">
        </select>
        </form>
    </div>
    <div id="reportTitle">
        <h1>{{name}}</h1>
    </div>
    
    <table class="table table-responsive">        
        <tr id="reportHeadings">
            <th id="reportColumn1Heading" ng-repeat="heading in headings">{{ heading }}</th>
        </tr>
        <tr id="reportRows" ng-repeat="row in rows">
            <td>{{ row.col1val }}</td>
            <td><input value="{{ row.col2val }}" /></td>
            <td><input value="{{ row.col3val }}" /></td>
            <td><input value="{{ row.col4val }}" /></td>
            <td><input value="{{ row.col5val }}" /></td>
        </tr>

    </table>
</div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/angular_app.js"></script>
    <script src="js/index_app.js"></script>
</body>
</html>