
<td>
    <a href="/"><button class="btn btn-default" id="form_submit" ng-click="mySave()">Save Changes</button></a>
</td>
<td ng-show="report.columns >= {{i}}" ng-repeat="i in [1,2,3,4,5] as i">
    <div ng-show="report['col' + {{i}} + 'type'] != 'select'">
        <input type="{{report['col' + i + 'type']}}" ng-model="row['col' + i + 'val']" />
    </div>
    <div ng-show="report['col' + {{i}} + 'type'] == 'select'">
        <select ng-model="row['col' + i + 'val']">
            <option ng-repeat="stat in status" ng-value="stat.description">{{stat.description}}</option>
        </select>
    </div>
</td>
