
<td>
    <a href="/"><button class="btn btn-default" id="form_submit" ng-click="mySave()">Save Changes</button></a>
</td>
<td ng-show="report.columns >= {{i}}" ng-repeat="i in editNums as i">
    <div ng-show="report['col' + {{i}} + 'type'] != 'select'">
        <input type="{{report['col' + i + 'type']}}" ng-model="row['col' + i + 'val']" />
    </div>
    <div ng-show="report['col' + {{i}} + 'type'] == 'select'">
        <select ng-model="row['col' + i + 'val']" ng-options="options.description as options.description for options in report['col' + i + 'val'].options"</select>
    </div>
</td>
