<div class="container">
    <div class="form-horizontal">
        <form>
            <div class="form-group row" ng-model="report.name">
                <label>Report title:</label>
                <input type="text" value="{{report.name}}">
            </div>
            <div class="form-group">
                <label>Add columns in report:</label>
                <input type="text" name="columns" id="columns" value="4">
            </div>
            <div class="form-group">
                <label>Add Column 1 selection:</label>
                <input type="text" name="column1" id="column1" value="Solve Group">
            </div>
            <div class="form-group">
                <label>Add Column 1 heading:</label>
                <input type="text" name="column1heading" id="column1heading" value="Column 1">
            </div>
            <div class="form-group">
                <label>Add Column 2 selection:</label>
                <input type="text" name="column2" id="column2" value="Sign Off">
            </div>
            <div class="form-group">
                <label>Add Column 2 heading:</label>
                <input type="text" name="column2heading" id="column2heading" value="Column 2">
            </div>
            <div class="form-group">
                <label>Add Column 3 selection:</label>
                <input type="text" name="column3" id="column3" value="Sign Off">
            </div>
            <div class="form-group">
                <label>Add Column 3 heading:</label>
                <input type="text" name="column3heading" id="column3heading" value="Column 3">
            </div>
            <div class="form-group">
                <label>Add Column 4 selection:</label>
                <input type="text" name="column4" id="column4" value="Sign Off">
            </div>
            <div class="form-group">
                <label>Add Column 4 heading:</label>
                <input type="text" name="column4heading" id="column4heading" value="Column 4">
            </div>
            <div class="form-group">
                <label>Add Column 5 selection:</label>
                <input type="text" name="column5" id="column5" value="Sign Off">
            </div>
            <div class="form-group">
                <label>Add Column 5 heading:</label>
                <input type="text" name="column5heading" id="column5heading" value="Column 5">
            </div>
            <button type="input" value="submit" id="report_submit">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <h2>{{report.name}}</h2>
        <div id="saveMessage" ng-model="saveMessage">
            <div class="alert alert-info" ng-show="saveMessage"><strong>{{saveMessage}}</strong></div>
        </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>{{report.column1heading}}</th>
                <th>{{report.column2heading}}</th>
                <th>{{report.column3heading}}</th>
                <th>{{report.column4heading}}</th>
                <th>{{report.column5heading}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td><a href="/edit_row"><button class="btn btn-primary" ng-click="rowSelect(row.id)">Edit</button></a>
                <td>{{row.col1val}}</td>
                <td>{{row.col2val}}</td>
                <td>{{row.col3val}}</td>
                <td>{{row.col4val}}</td>
                <td>{{row.col5val}}</td>
            </tr>
        </tbody>
    </table>
</div>