<div class="container">
    <div class="form-horizontal">
        <form>
            <div class="form-group row">
                <label>Report title:</label>
                <input type="text" ng-model="newReport.name" value="{{newReport.name}}">
            </div>
            <div class="form-group">
                <label>Number of Columns:</label>
                <select ng-model="newReport.columns">
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Add Column 1 selection:</label>
                <select ng-model="newReport.col1val" ng-options="category.name for category in dataCategories">
            </div>
            <div class="form-group">
                <label>Add Column 1 heading:</label>
                <input type="text" ng-model="newReport.column1heading" value="{{newReport.column1heading}}">
            </div>
            <div class="form-group">
                <label>Add Column 1 type:</label>
                <input type="text" ng-model="newReport.col1type" value="{{newReport.col1type}}">
            </div>
            <div class="form-group">
                <label>Add Column 2 selection:</label>
                <input type="text" ng-model="newReport.col2val" value="{{newReport.col2val}}">
            </div>
            <div class="form-group">
                <label>Add Column 2 heading:</label>
                <input type="text" ng-model="newReport.column2heading" value="{{newReport.column2heading}}">
            </div>
            <div class="form-group">
                <label>Add Column 2 type:</label>
                <input type="text" ng-model="newReport.col2type" value="{{newReport.col2type}}">
            </div>
            <div class="form-group">
                <label>Add Column 3 selection:</label>
                <input type="text" ng-model="newReport.col3val" value="{{newReport.col3val}}">
            </div>
            <div class="form-group">
                <label>Add Column 3 heading:</label>
                <input type="text" ng-model="newReport.column3heading" value="{{newReport.column3heading}}">
            </div>
            <div class="form-group">
                <label>Add Column 3 type:</label>
                <input type="text" ng-model="newReport.col3type" value="{{newReport.col3type}}">
            </div>
            <div class="form-group">
                <label>Add Column 4 selection:</label>
                <input type="text" ng-model="newReport.col4val" value="{{newReport.col4val}}">
            </div>
            <div class="form-group">
                <label>Add Column 4 heading:</label>
                <input type="text" ng-model="newReport.column4heading" value="{{newReport.column4heading}}">
            </div>
            <div class="form-group">
                <label>Add Column 4 type:</label>
                <input type="text" ng-model="newReport.col4type" value="{{newReport.col4type}}">
            </div>
            <div class="form-group">
                <label>Add Column 5 selection:</label>
                <input type="text" ng-model="newReport.col5val" value="{{newReport.col5val}}">
            </div>
            <div class="form-group">
                <label>Add Column 5 heading:</label>
                <input type="text" ng-model="newReport.column5heading" value="{{newReport.column5heading}}">
            </div>
            <div class="form-group">
                <label>Add Column 5 type:</label>
                <input type="text" ng-model="newReport.col5type" value="{{newReport.col5type}}">
            </div>
            <button type="input" value="submit" id="report_submit">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <h2>{{newReport.name}}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th ng-show="newReport.columns >= 1">{{newReport.column1heading}}</th>
                <th ng-show="newReport.columns >= 2">{{newReport.column2heading}}</th>
                <th ng-show="newReport.columns >= 3">{{newReport.column3heading}}</th>
                <th ng-show="newReport.columns >= 4">{{newReport.column4heading}}</th>
                <th ng-show="newReport.columns >= 5">{{newReport.column5heading}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sample</td>
                <td ng-show="newReport.columns >= 1"><input type="{{newReport.col1type}}" value="{{newReport.col1val}}"></td>
                <td ng-show="newReport.columns >= 2"><input type="{{newReport.col12ype}}" value="{{newReport.col2val}}"></td>
                <td ng-show="newReport.columns >= 3"><input type="{{newReport.col13ype}}" value="{{newReport.col3val}}"></td>
                <td ng-show="newReport.columns >= 4"><input type="{{newReport.col14ype}}" value="{{newReport.col4val}}"></td>
                <td ng-show="newReport.columns >= 5"><input type="{{newReport.col15ype}}" value="{{newReport.col5val}}"></td>
            </tr>
        </tbody>
    </table>
</div>