<div class="form-group">
        <form>
            <button id="form_submit" ng-click="mySave()">Save Changes</button>
            <table class="table table-responsive">        
                <tr id="reportRows">
                    <td><input type="text" ng-model="row.col1val" /></td>
                    <td>
                        <select ng-model="row.col2val">
                            <option ng-repeat="stat in status" ng-value="stat.description">{{stat.description}}</option>
                        </select>
                    </td>
                    <td><input type="text" ng-model="row.col3val" value="{{row.col3val}}" /></td>
                    <td><input type="checkbox" ng-model="row.col4val" /></td>
                    <td><input type="text" ng-model="row.col5val" /></td>
                </tr>
            </table>
        </form>

