<div id="selectReportForm" class="container">
    <form class="form-inline">
        <h2>Select Report:</h2>
        <select ng-model="report" ng-options="report.name for report in reports | filter: { name : '!New Report' }" ng-change="reportSelect(report.id)">
        </select>
    </form>        
</div>
<div class="container">
    <h2>{{report.name}}</h2>
        <div id="saveMessage" ng-model="saveMessage">
            <div class="alert alert-info" ng-show="saveMessage"><strong>{{saveMessage}}</strong></div>
        </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th ng-show="report.columns >= 1">{{report.column1heading}}</th>
                <th ng-show="report.columns >= 2">{{report.column2heading}}</th>
                <th ng-show="report.columns >= 3">{{report.column3heading}}</th>
                <th ng-show="report.columns >= 4">{{report.column4heading}}</th>
                <th ng-show="report.columns >= 5">{{report.column5heading}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td><a href="/edit_row"><button class="btn btn-primary" ng-click="rowSelect(row.id)">Edit</button></a>
                <td ng-show="report.columns >= 1">{{row.col1val}}</td>
                <td ng-show="report.columns >= 2">{{row.col2val}}</td>
                <td ng-show="report.columns >= 3">{{row.col3val}}</td>
                <td ng-show="report.columns >= 4">{{row.col4val}}</td>
                <td ng-show="report.columns >= 5">{{row.col5val}}</td>
            </tr>
        </tbody>
    </table>
</div>
    