<div>
        <form id="selectReportForm">
        <h2>Select Report:</h2>
        <select ng-model="report" ng-options="report.name for report in reports" ng-change="reportSelect(report.id)"></select>
        </form>
        
</div>

<div id="container">
    <h2>{{report.name}}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Edit</th>
                <th>{{report.column1heading}}</th>
                <th>{{report.column2heading}}</th>
                <th>{{report.column3heading}}</th>
                <th>{{report.column4heading}}</th>
                <th>{{report.column5heading}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td><a href="/edit_row"><button class="tabledata" ng-click="rowSelect(row.id)">Edit</button></a>
                <td>{{row.col1val}}</td>
                <td>{{row.col2val}}</td>
                <td>{{row.col3val}}</td>
                <td>{{row.col4val}}</td>
                <td>{{row.col5val}}</td>
            </tr>
        </tbody>
    </table>

</div>
    