<!--<h2>This is from the reports page.</h2>-->

<div>

<table class="table table-responsive">
        <tr id="reportTable">
        <th id="idRow">ID</th>
        <th id="reportGroupRow">Report Name</th>
        <th id="reportColumnNumber">Number of Columns</th>
        <th id="reportColumn1">Column 1</th>
        <th id="reportColumn1Heading">Column 1 Heading</th>
        <th id="reportColumn2">Column 2</th>
        <th id="reportColumn2Heading">Column 2 Heading</th>
        <th id="reportColumn3">Column 3</th>
        <th id="reportColumn3Heading">Column 3 Heading</th>
        <th id="reportColumn4">Column 4</th>
        <th id="reportColumn4Heading">Column 4 Heading</th>
        <th id="reportColumn5">Column 5</th>
        <th id="reportColumn5Heading">Column 5 Heading</th>
    </tr>
</table>


<div class="form-group">
    <form action="http://localhost:8081/deleteReport" method="POST">
        Delete Report with ID:<input type="text" name="id" id="deleteID">
        <button type="submit" value="submit" id="delete_report">Submit</button>
    </form>
</div>
</div>


