div.main {
    width: 1500px;
    margin: 0 auto;
}
header {
    margin: 20px;
    font-size: 20px;
    padding: 10px 20px;
}
div.container-fluid {
    display: inline-block;
}
a.navbar-brand {
    font-size: 20px;
}
table {
    width: 1500px;
}

form {
    width: 1500px;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
input {
    margin: 0 5px;
}
.columnHeadings {
    margin: 10px 10px;
}
button#form_submit {
    margin: 20px 0;
}
div#save_status {
    margin: 20px 0;
    color: green;
}
