div.container-fluid {
    display: inline-block;
}
div.row {
    border-top: 1px solid black;
}
div.reportName {
    border-top: none;
    width: inherit;
    margin: 0 auto;
}
div.tabledata {
  height: 68px;  
  line-height: 1.1;
  /*display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;*/
}
button.tabledata {
    margin: 20px auto;
}
form#selectReportForm {
    width: 250px;
    margin: 0px auto;
}
table {
    width: 1500px;
    margin-top: 50px;
}

form {
    width: 1500px;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*div.main {
    width: 1500px;
    margin: 0 auto;
}


a.navbar-brand {
    font-size: 20px;
}

input {
    margin: 0 5px;
}
.columnHeadings {
    margin: 10px 10px;
}
button#form_submit {
    margin: 20px 0;
}
div#save_status {
    margin: 20px 0;
    color: green;
}*/
