div.main {
    width: 1500px;
    margin: 0 auto;
}

table {
    width: 1500px;
}

form {
    width: 1500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
input {
    margin: 0 5px;
}
.columnHeadings {
    margin: 10px 10px;
    }
}
